@attribute [Authorize]
@page "/Budgets"
@inherits BudgetsBase

<PageTitle>Budgets</PageTitle>

<BSContainer Container="Container.Fluid" MarginBottom="Margins.Large">
    <BSCard CardType="CardType.Header">
        <BSRow>
        <BSCol Align="Align.Start">
            <h1><span class="oi oi-pie-chart" aria-hidden="true"></span> Budgets</h1>
        </BSCol>
        <BSCol Align="Align.End" style="text-align:right">
            <span>Date Picker...</span>
        </BSCol>
        </BSRow>
    </BSCard>
</BSContainer>

<BSContainer Container="Container.Fluid">
    <BSRow>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">Total Budget - Expected Income: <strong>$1000</strong></BSCard>
                    Some quick example text to build on the card title and make up the bulk of the card's content
            </BSCard>
        </BSCard>
    </BSRow>
</BSContainer>